.consider{
	width: 100%;
	position:relative;
	padding: 5px;
		}

.consider h4{
    font: 29px/26px 'thaisanslite', Arial, sans-serif;
    padding: 0 0 15px 0;
    color: #001c8f;
    font-weight: bold;

}
		
.consider td{
	font-size:15px;

		}		
		
	.consider .box{
		background:#fff;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
			-webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.15);
			-moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.15);
			box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.15);
			
		}	
	.consider .box .top{
		font: 27px/24px 'thaisanslite', Arial, sans-serif;
		padding: 0 0 15px 0;
		color:#001c8f;
		font-weight:bold;
		/* border-bottom:#ddd 1px solid; */
		}
	.consider .box .status{
		font: 23px/25px 'thaisanslite', Arial, sans-serif;
		font-weight:bold;
		}	
	
	.consider .box .status .blue{
    	color: #53b1ea;
		padding-left:10px;
	}	
		
	.consider .box .mid{
		}
	.consider .box .mid .title{
		font-size:14px;

		}
	.consider .box .mid .title-13{
		font-size:15px;

		}	
		
	.consider .title-14{
		font-size:14px;

		}
		
	.consider .box .mid .brown{
		color:#a06a30;

		}
	.consider  .red{
		color:red;

		}
		.consider  .red-2{
		color:red;
		font-size:12px;

		}					
		
	.consider .box .mid .text{
		font-size:14px;
		color:#007bff;
		width:100%;
		padding-left:20px;

	/*	color:#128adc;*/
		}	

	.consider .box .mid .address{
		font-size:15px;
		max-width:68%;
		padding-left:5px;
		}			
		
	.consider .box .mid .c-pic{
		width:95px;
		height:95px;
		background:#53b1ea;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		}	
	.consider .box .mid .c-pic img{		
		max-width:100%;
		height:auto;
		}
	.consider .box .mid .c-file{
		font-size:15px;
		}
	
	.consider .box .mid .l-rank{
		font-size:17px;
		color:#128adc;
		}		
	.consider .box .mid .l-comment{
		font-size:17px;
		color:#6f6f6f;
		}	
		
	.consider .box .mid .b-border{
		border-bottom:#eaeaea 1px solid;
		}
		
	.consider .edit{
		height:25px;
		padding:3px 6px;
		background:#f5f5f5;
		font-size:13px;
		
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}						
	.consider .edit a{
	}
	
	.note-block{
		width:100%;
		height:auto;
		padding:10px;
		font-size:15px;
		color:#D10003;
		margin-top:10px;
		}
	.line-set{
		margin-top:20px;
		margin-bottom:20px;
		border-top: 1px solid #eaeaea;
		}
/*****************/
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
        padding: 0.2rem;
}
.card-header {
    padding: .75rem .75rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}	
.btn-link {
		width:100%;
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
}



.btn-link:hover {
    text-decoration: none;

}

.card-header {
    padding: .75rem 1rem .75rem .25rem;
    margin-bottom: 0;
	background:url(../images/down-arrow.png) 97% 50% no-repeat;
    background-color: rgba(0,0,0,.0);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header .btn {
    padding: 0 0;

}

.b-fix{
	position:fixed;
	left:0; right:0;
	bottom:0;
	background:#f5f5f5;
	}
.fix-mb{
	padding-bottom:80px !important;
	}
.bottom-block{
	width:100%;
	padding:10px;
	text-align:center;
	}
@media (max-width: 575px) {
	.consider td {
    width: 35%;
    font-size: 14px;
	text-align:left;
}
.bottom-block{
	width:100%;
	padding:10px;
	text-align:center;
	background:#93ddff;
	position: fixed;
	bottom:0;
	}
	}	
@media (min-width: 576px) and (max-width: 991px) { 
.bottom-block{
	width:100%;
	padding:10px;
	text-align:center;
	background:#93ddff;
	position: fixed;
	bottom:0;
	}
}
@media (min-width: 992px) {
.bottom-block{
	width:100%;
	padding:10px;
	text-align:center;
	background:#93ddff;
	position: fixed;
	bottom:0;
	}
}