
/* @import url("https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLVhBiQK9Lw5Ur-flbqGetmlohjVfmhrlD5xCX-n68ixJ_kmCvy597kDopqFAXvpeaA"); */

@font-face {
  font-family: 'Sarabun';
  src: url('/fonts/thsarabun-new/THSarabunNew001.ttf');
  /* src: url('../fonts/icomoon.eot') format('embedded-opentype'); */
  /* src: url('../fonts/thsarabun-new/THSarabunNew001.ttf') format('truetype'); */
  /* src: url('../fonts/icomoon.woff') format('woff');
  src: url('../fonts/icomoon.svg') format('svg'); */
  font-weight: normal;
  font-style: normal;
}
.doc-content{
  width: 453.5pt;
}
.lst-kix_list_1-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_1-4 > li:before {
  content: "o  ";
}
ul.lst-kix_list_1-0 {
  list-style-type: none;
}
.lst-kix_list_1-7 > li:before {
  content: "o  ";
}
.lst-kix_list_1-5 > li:before {
  content: "\0025aa  ";
}
.lst-kix_list_1-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_list_1-3 {
  list-style-type: none;
}
.lst-kix_list_1-0 > li:before {
  content: "-  ";
}
ul.lst-kix_list_1-4 {
  list-style-type: none;
}
.lst-kix_list_1-8 > li:before {
  content: "\0025aa  ";
}
ul.lst-kix_list_1-1 {
  list-style-type: none;
}
ul.lst-kix_list_1-2 {
  list-style-type: none;
}
ul.lst-kix_list_1-7 {
  list-style-type: none;
}
.lst-kix_list_1-1 > li:before {
  content: "o  ";
}
.lst-kix_list_1-2 > li:before {
  content: "\0025aa  ";
}
ul.lst-kix_list_1-8 {
  list-style-type: none;
}
ul.lst-kix_list_1-5 {
  list-style-type: none;
}
ul.lst-kix_list_1-6 {
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c57 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 16.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c42 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 0.3pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c34 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 208.9pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c41 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 423.4pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c56 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 16.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c12 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 200.4pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c25 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 28.9pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c47 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 200.4pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c45 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 200.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c26 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 24pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c40 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 16.4pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c30 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 30.2pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c33 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 28.9pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c43 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 200.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c48 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 399.7pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c58 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 0.3pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c23 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 28.9pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c8 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 153.6pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c37 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 0.3pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c5 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 54.2pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c46 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 70.7pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c10 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 15.3pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c3 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 423.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c36 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 30.2pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c20 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 14.9pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c31 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 200.8pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c19 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 24pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c49 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 383.2pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c54 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 16.4pt;
  border-top-color: #000000;
  border-bottom-style: dotted;
}
.c9 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 153.6pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c17 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 14.9pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c44 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: bottom;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: dotted;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 153.6pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c2 {
  margin-left: -7.5pt;
  padding-top: 0pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: center;
  margin-right: -5.3pt;
}
.c18 {
  padding-top: 0pt;
  text-indent: 70.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 11pt;
}
.c32 {
  margin-left: -5.7pt;
  padding-top: 6pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -5.4pt;
}
.c13 {
  margin-left: -5.2pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -5.4pt;
}
.c21 {
  padding-top: 0pt;
  text-indent: -58.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: center;
  margin-right: -4.8pt;
}
.c11 {
  margin-left: -2.1pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -13.2pt;
}
.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Sarabun";
  font-style: normal;
}
.c14 {
  color: #ff0000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Sarabun";
  font-style: normal;
}
.c7 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Sarabun";
  font-style: normal;
}
.c15 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c24 {
  margin-left: -4.9pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c22 {
  padding-top: 0pt;
  text-indent: 226.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 {
  margin-left: -5.3pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c59 {
  margin-left: -5.3pt;
  padding-top: 6pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c28 {
  margin-left: -5.7pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c38 {
  padding-top: 6pt;
  text-indent: 70.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c35 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c6 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: left;
  height: 11pt;
}
.c16 {
  margin-left: -0.5pt;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}
.c51 {
  font-size: 29pt;
  font-family: "Sarabun";
  font-weight: 700;
}
.c50 {
  background-color: #ffffff;
  max-width: 453.5pt;
  padding: 42.5pt 56.7pt 56.7pt 85pt;
}
.c29 {
  font-size: 20pt;
  font-family: "Sarabun";
  font-weight: 700;
}
.c27 {
  font-size: 16pt;
  font-family: "Sarabun";
  font-weight: 400;
}
.c55 {
  margin-left: -5.2pt;
  margin-right: -5.5pt;
}
.c52 {
  margin-right: -5.4pt;
}
.c53 {
  height: 1pt;
}
.c4 {
  height: 0pt;
}
.c39 {
  color: #ff0000;
}
.title {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Calibri";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Calibri";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Calibri";
}
h1 {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 6pt;
  font-family: "Calibri";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-weight: 700;
  font-size: 18pt;
  padding-bottom: 4pt;
  font-family: "Calibri";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 14pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Calibri";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 11pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 10pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.span_image {
  overflow: hidden;
  display: inline-block;
  margin: 0px 0px;
  border: 0px solid #000000;
  transform: rotate(0rad) translateZ(0px);
  -webkit-transform: rotate(0rad) translateZ(0px);
  width: 51.87px;
  height: 56.93px;
}

.image_logo {
  width: 51.87px;
  height: 56.93px;
  margin-left: 0px;
  margin-top: 0px;
  transform: rotate(0rad) translateZ(0px);
  -webkit-transform: rotate(0rad) translateZ(0px);
}

/* 2222 */

@font-face
{font-family:Wingdings;
panose-1:5 0 0 0 0 0 0 0 0 0;
mso-font-charset:77;
mso-generic-font-family:decorative;
mso-font-pitch:variable;
mso-font-signature:3 0 0 0 -2147483647 0;}
@font-face
{font-family:"Angsana New";
panose-1:2 2 6 3 5 4 5 2 3 4;
mso-font-charset:222;
mso-generic-font-family:roman;
mso-font-pitch:variable;
mso-font-signature:-2130706429 0 0 0 65537 0;}
@font-face
{font-family:"Cordia New";
panose-1:2 11 3 4 2 2 2 2 2 4;
mso-font-charset:222;
mso-generic-font-family:swiss;
mso-font-pitch:variable;
mso-font-signature:-2130706429 0 0 0 65537 0;}
@font-face
{font-family:"Cambria Math";
panose-1:2 4 5 3 5 4 6 3 2 4;
mso-font-charset:0;
mso-generic-font-family:roman;
mso-font-pitch:variable;
mso-font-signature:-536870145 1107305727 0 0 415 0;}
@font-face
{font-family:Calibri;
panose-1:2 15 5 2 2 2 4 3 2 4;
mso-font-charset:0;
mso-generic-font-family:swiss;
mso-font-pitch:variable;
mso-font-signature:-536859905 -1073732485 9 0 511 0;}
@font-face
{font-family:"TH SarabunIT๙";
panose-1:2 11 6 4 2 2 2 2 2 4;
mso-font-alt:"Browallia New";
mso-font-charset:0;
mso-generic-font-family:swiss;
mso-font-pitch:variable;
mso-font-signature:-1593835409 1342185562 0 0 65923 0;}
@font-face
{font-family:Tahoma;
panose-1:2 11 6 4 3 5 4 4 2 4;
mso-font-charset:0;
mso-generic-font-family:swiss;
mso-font-pitch:variable;
mso-font-signature:-520081665 -1073717157 41 0 66047 0;}
@font-face
{font-family:"TH SarabunPSK";
panose-1:2 11 5 0 4 2 0 2 0 3;
mso-font-charset:222;
mso-generic-font-family:swiss;
mso-font-pitch:variable;
mso-font-signature:16777219 0 0 0 65809 0;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
{mso-style-unhide:no;
mso-style-qformat:yes;
mso-style-parent:"";
margin-top:0cm;
margin-right:0cm;
margin-bottom:10.0pt;
margin-left:0cm;
line-height:115%;
mso-pagination:widow-orphan;
font-size:11.0pt;
mso-bidi-font-size:14.0pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:"Cordia New";
mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;}
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
{mso-style-noshow:yes;
mso-style-priority:99;
mso-style-link:"Comment Text Char";
margin-top:0cm;
margin-right:0cm;
margin-bottom:10.0pt;
margin-left:0cm;
mso-pagination:widow-orphan;
font-size:10.0pt;
mso-bidi-font-size:12.5pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:"Cordia New";
mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;}
span.MsoCommentReference
{mso-style-noshow:yes;
mso-style-priority:99;
mso-ansi-font-size:8.0pt;
mso-bidi-font-size:9.0pt;}
p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject
{mso-style-noshow:yes;
mso-style-priority:99;
mso-style-parent:"Comment Text";
mso-style-link:"Comment Subject Char";
mso-style-next:"Comment Text";
margin-top:0cm;
margin-right:0cm;
margin-bottom:10.0pt;
margin-left:0cm;
mso-pagination:widow-orphan;
font-size:10.0pt;
mso-bidi-font-size:12.5pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:"Cordia New";
mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;
font-weight:bold;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
{mso-style-noshow:yes;
mso-style-priority:99;
mso-style-link:"Balloon Text Char";
margin:0cm;
mso-pagination:widow-orphan;
font-size:8.0pt;
mso-bidi-font-size:10.0pt;
font-family:"Tahoma",sans-serif;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-bidi-font-family:"Angsana New";
mso-ansi-language:EN-US;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
{mso-style-priority:34;
mso-style-unhide:no;
mso-style-qformat:yes;
margin-top:0cm;
margin-right:0cm;
margin-bottom:10.0pt;
margin-left:36.0pt;
mso-add-space:auto;
line-height:115%;
mso-pagination:widow-orphan;
font-size:11.0pt;
mso-bidi-font-size:14.0pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:"Cordia New";
mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
{mso-style-priority:34;
mso-style-unhide:no;
mso-style-qformat:yes;
mso-style-type:export-only;
margin-top:0cm;
margin-right:0cm;
margin-bottom:0cm;
margin-left:36.0pt;
mso-add-space:auto;
line-height:115%;
mso-pagination:widow-orphan;
font-size:11.0pt;
mso-bidi-font-size:14.0pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:"Cordia New";
mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
{mso-style-priority:34;
mso-style-unhide:no;
mso-style-qformat:yes;
mso-style-type:export-only;
margin-top:0cm;
margin-right:0cm;
margin-bottom:0cm;
margin-left:36.0pt;
mso-add-space:auto;
line-height:115%;
mso-pagination:widow-orphan;
font-size:11.0pt;
mso-bidi-font-size:14.0pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:"Cordia New";
mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
{mso-style-priority:34;
mso-style-unhide:no;
mso-style-qformat:yes;
mso-style-type:export-only;
margin-top:0cm;
margin-right:0cm;
margin-bottom:10.0pt;
margin-left:36.0pt;
mso-add-space:auto;
line-height:115%;
mso-pagination:widow-orphan;
font-size:11.0pt;
mso-bidi-font-size:14.0pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:"Cordia New";
mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;}
span.BalloonTextChar
{mso-style-name:"Balloon Text Char";
mso-style-noshow:yes;
mso-style-priority:99;
mso-style-unhide:no;
mso-style-locked:yes;
mso-style-link:"Balloon Text";
mso-ansi-font-size:8.0pt;
mso-bidi-font-size:10.0pt;
font-family:"Tahoma",sans-serif;
mso-ascii-font-family:Tahoma;
mso-hansi-font-family:Tahoma;
mso-bidi-font-family:"Angsana New";}
span.CommentTextChar
{mso-style-name:"Comment Text Char";
mso-style-noshow:yes;
mso-style-priority:99;
mso-style-unhide:no;
mso-style-locked:yes;
mso-style-link:"Comment Text";
mso-ansi-font-size:10.0pt;
mso-bidi-font-size:12.5pt;}
span.CommentSubjectChar
{mso-style-name:"Comment Subject Char";
mso-style-noshow:yes;
mso-style-priority:99;
mso-style-unhide:no;
mso-style-locked:yes;
mso-style-parent:"Comment Text Char";
mso-style-link:"Comment Subject";
mso-ansi-font-size:10.0pt;
mso-bidi-font-size:12.5pt;
font-weight:bold;}
.MsoChpDefault
{mso-style-type:export-only;
mso-default-props:yes;
font-size:11.0pt;
mso-ansi-font-size:11.0pt;
mso-bidi-font-size:14.0pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:"Cordia New";
mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;}
.MsoPapDefault
{mso-style-type:export-only;
margin-bottom:10.0pt;
line-height:115%;}
@page WordSection1
{size:595.3pt 841.9pt;
margin:42.55pt 2.0cm 2.0cm 3.0cm;
mso-header-margin:35.45pt;
mso-footer-margin:35.45pt;
mso-paper-source:0;}
div.WordSection1
{page:WordSection1;}
/* List Definitions */
@list l0
{mso-list-id:914514569;
mso-list-type:hybrid;
mso-list-template-ids:-1321704836 -1608092632 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l0:level1
{mso-level-start-at:0;
mso-level-number-format:bullet;
mso-level-text:-;
mso-level-tab-stop:none;
mso-level-number-position:left;
text-indent:-18.0pt;
font-family:"TH SarabunPSK",sans-serif;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;}
@list l0:level2
{mso-level-number-format:bullet;
mso-level-text:o;
mso-level-tab-stop:none;
mso-level-number-position:left;
text-indent:-18.0pt;
font-family:"Courier New";}
@list l0:level3
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:none;
mso-level-number-position:left;
text-indent:-18.0pt;
font-family:Wingdings;}
@list l0:level4
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:none;
mso-level-number-position:left;
text-indent:-18.0pt;
font-family:Symbol;}
@list l0:level5
{mso-level-number-format:bullet;
mso-level-text:o;
mso-level-tab-stop:none;
mso-level-number-position:left;
text-indent:-18.0pt;
font-family:"Courier New";}
@list l0:level6
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:none;
mso-level-number-position:left;
text-indent:-18.0pt;
font-family:Wingdings;}
@list l0:level7
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:none;
mso-level-number-position:left;
text-indent:-18.0pt;
font-family:Symbol;}
@list l0:level8
{mso-level-number-format:bullet;
mso-level-text:o;
mso-level-tab-stop:none;
mso-level-number-position:left;
text-indent:-18.0pt;
font-family:"Courier New";}
@list l0:level9
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:none;
mso-level-number-position:left;
text-indent:-18.0pt;
font-family:Wingdings;}
ol
{margin-bottom:0cm;}
ul
{margin-bottom:0cm;}


/* Style Definitions */
table.MsoNormalTable {
  mso-style-name: "Table Normal";
  mso-tstyle-rowband-size: 0;
  mso-tstyle-colband-size: 0;
  mso-style-noshow: yes;
  mso-style-priority: 99;
  mso-style-parent: "";
  mso-padding-alt: 0cm 5.4pt 0cm 5.4pt;
  mso-para-margin-top: 0cm;
  mso-para-margin-right: 0cm;
  mso-para-margin-bottom: 10pt;
  mso-para-margin-left: 0cm;
  line-height: 115%;
  mso-pagination: widow-orphan;
  font-size: 11pt;
  mso-bidi-font-size: 14pt;
  font-family: "Calibri", sans-serif;
  mso-ascii-font-family: Calibri;
  mso-ascii-theme-font: minor-latin;
  mso-hansi-font-family: Calibri;
  mso-hansi-theme-font: minor-latin;
  mso-bidi-font-family: "Cordia New";
  mso-bidi-theme-font: minor-bidi;
  mso-ansi-language: EN-US;
}
table.MsoTableGrid {
  mso-style-name: "Table Grid";
  mso-tstyle-rowband-size: 0;
  mso-tstyle-colband-size: 0;
  mso-style-priority: 59;
  mso-style-unhide: no;
  border: solid windowtext 1pt;
  mso-border-alt: solid windowtext 0.5pt;
  mso-padding-alt: 0cm 5.4pt 0cm 5.4pt;
  mso-border-insideh: 0.5pt solid windowtext;
  mso-border-insidev: 0.5pt solid windowtext;
  mso-para-margin: 0cm;
  mso-pagination: widow-orphan;
  font-size: 11pt;
  mso-bidi-font-size: 14pt;
  font-family: "Calibri", sans-serif;
  mso-ascii-font-family: Calibri;
  mso-ascii-theme-font: minor-latin;
  mso-hansi-font-family: Calibri;
  mso-hansi-theme-font: minor-latin;
  mso-bidi-font-family: "Cordia New";
  mso-bidi-theme-font: minor-bidi;
  mso-ansi-language: EN-US;
}