.note-btn-group button[data-event="underline"] {
    font-weight: normal;
    text-decoration: underline;
  }

  .thai-paragraph {
    font-family: 'TH Sarabun New', sans-serif; /* specify a Thai font */
    text-align: justify; /* justify the text */
    text-justify: distribute; /* distribute the text */
  }




  .thai-istributed-class {
    text-align: justify;
    text-justify: inter-word;
  }

  @font-face {
    font-family: 'THSarabunIT๙';
    src: url('../../fonts/THSarabunIT๙/THSarabunIT๙.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'THSarabun';
    src: url('../../fonts/THSarabunIT๙/THSarabunIT๙.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


/* 
  @font-face {
    font-family: 'THSarabun';
    src: url('../../fonts/thsarabun/THSarabunNew001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */