body {
    background: rgb(204, 204, 204);
}

div[size="A4onlyWidth"] {}

div {}

div[size="A4"] {
    width: 21cm;
    height: 29.7cm;
    position: relative;
    overflow: hidden;
}

pageMain[size="A4onlyWidth"] {
    display: block;
    margin: 0 auto;
    width: 21cm;
    position: relative;
    overflow: hidden;
    padding-bottom: 24px;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    /*margin-bottom: 0.5cm;*/
    margin-top: 16px;
    /* box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5); */
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
    position: relative;
    overflow: hidden;
    font: 16pt/16pt 'THSarabunNewRegular', Arial, sans-serif;
}

page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}

page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}

page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;
}

page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}

page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}

.btn-remove {
    padding: 0px 8px;
    position: absolute;
    top: 0;
    right: -25px;
    z-index: 9;
}

.box-textarea {
    position: relative;
}

.footerImg {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    text-align: center;
}

.footerImg img {
    height: 60px;
}